/* basic reset */
html, body, h1, h2 {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font: normal 100%/1.5 sans-serif;
}

header {
  color: white;
  padding: 30px 50px;
}

header h1 {
  text-align: left;
  font-size: 2em;
}


#left {
  background-image: url(../assets/img/marc-hammond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  min-height: 40em;
  width:50%;
}

#container {
position: relative;
}

#text {
  position: absolute;
  margin-top: 200px;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left:
}
